@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import './content.css';
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --myColorMain: #2A2A2A;
    --myColorText: #ffffff;
}
body{
    font-family: 'Reem Kufi', sans-serif;
    color: var(--myColorText);
}
main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.sidebar{
    background-color: var(--myColorMain);
    height: auto;
    max-width: 500px;
    width: 40%;
    padding: 20px;
}
img.sidebar__avatar {
    text-align: center;
    display: block;
    margin: 40px auto 0 auto;
}

.sidebar h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
    margin: 40px auto 0 auto;
    transform: translateX(20px);
}
.sidebar h1 svg {
    width: 40px;
    height: 32px;
}
.sidebar h2 {
    text-align: center;
    margin: 5px auto 0 auto;
    font-size: 32px;
}
.sidebar p {
    font-size: 30px;
    text-align: left;
    margin: 20px auto 30px auto;
    display: block;
    max-width: 330px;
    width: 100%;
    line-height: 35px;
}

.sidebar a {
    text-decoration: none;
    text-align: left;
    display: block;
    margin: 0 auto 10px auto;
    max-width: 330px;
    color: var(--myColorText);
    font-size: 36px;
}

nav.contact a {
    display: initial;
    margin: 0px 20px 0 0px;
}

nav.contact {
    max-width: 340px;
    margin: 0 auto;
}

nav.contact h3 {
    margin: 70px auto 20px auto;
    font-size: 21px;
}

nav.contact a img {width: 100%;max-width: 40px;}